body {
    /* background-color: red; */
}

.main {
    text-align: center;
    margin-top: 20%;

}

/* button {
    background-color: purple;
    color: white;
    width: 140px;
    height: 60px;
    border-color: azure;
} */