body {
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
    font-size: 12px;
    margin-top: 40px;
    padding: 0px;
    color: white;

}

h2 {
    text-align: center;
    font-size: 18px;
    padding: 0px;
    color: white;

}

.card {
    height: 110px;
    width: 263px;
    background-color: blue;
    float: left;
    margin: 57px;
    margin-left: 2%;
    padding: 10px;
    border-radius: 18px;
}

.card2 {
    height: 110px;
    width: 263px;
    background-color: red;
    float: left;
    margin: 57px;
    margin-left: 2%;
    padding: 10px;
    border-radius: 18px;
}

.card3 {
    height: 110px;
    width: 263px;
    background-color: orange;
    float: left;
    margin: 57px;
    margin-left: 2%;
    padding: 10px;
    border-radius: 18px;
}

.card4 {
    height: 110px;
    width: 263px;
    background-color: green;
    float: left;
    margin: 57px;
    margin-left: 2%;
    padding: 10px;
    border-radius: 18px;
}

.card5 {
    height: 110px;
    width: 263px;
    background-color: pink;
    float: left;
    margin: 57px;
    margin-left: 2%;
    padding: 10px;
    border-radius: 18px;
}

.card6 {
    height: 110px;
    width: 263px;
    background-color: purple;
    float: left;
    margin: 57px;
    margin-left: 2%;
    padding: 10px;
    border-radius: 18px;
}

.card__name {
    font-size: 20px;
    text-align: center;
}

.card__total {
    text-align: center;
}



ul {
    list-style-type: none;
}